# Chapter 2: Mortality

In [1]:
import pandas as pd

## Get the data

In [2]:
mortality_url = "https://data.cdc.gov/api/views/v6ab-adf5/rows.csv?accessType=DOWNLOAD"
mortality_data = pd.read_csv(mortality_url)

### Save and restore the DataFrame

In [3]:
mortality_data.to_pickle('mortality_data.pkl')

In [4]:
mortality_data = pd.read_pickle('mortality_data.pkl')

## Examine and clean the data

### Display the data

In [5]:
mortality_data

     Year    Age Group  Death Rate
0    1900    1-4 Years      1983.8
1    1901    1-4 Years      1695.0
2    1902    1-4 Years      1655.7
3    1903    1-4 Years      1542.1
4    1904    1-4 Years      1591.5
..    ...          ...         ...
471  2014  15-19 Years        45.5
472  2015  15-19 Years        48.3
473  2016  15-19 Years        51.2
474  2017  15-19 Years        51.5
475  2018  15-19 Years        49.2

[476 rows x 3 columns]

In [6]:
mortality_data.head()

   Year  Age Group  Death Rate
0  1900  1-4 Years      1983.8
1  1901  1-4 Years      1695.0
2  1902  1-4 Years      1655.7
3  1903  1-4 Years      1542.1
4  1904  1-4 Years      1591.5

In [7]:
mortality_data.tail(3)

     Year    Age Group  Death Rate
473  2016  15-19 Years        51.2
474  2017  15-19 Years        51.5
475  2018  15-19 Years        49.2

In [8]:
display(mortality_data)

     Year    Age Group  Death Rate
0    1900    1-4 Years      1983.8
1    1901    1-4 Years      1695.0
2    1902    1-4 Years      1655.7
3    1903    1-4 Years      1542.1
4    1904    1-4 Years      1591.5
..    ...          ...         ...
471  2014  15-19 Years        45.5
472  2015  15-19 Years        48.3
473  2016  15-19 Years        51.2
474  2017  15-19 Years        51.5
475  2018  15-19 Years        49.2

[476 rows x 3 columns]

In [9]:
with pd.option_context(
    'display.max_rows', 5,
    'display.max_columns', None):
    display(mortality_data)

     Year    Age Group  Death Rate
0    1900    1-4 Years      1983.8
1    1901    1-4 Years      1695.0
..    ...          ...         ...
474  2017  15-19 Years        51.5
475  2018  15-19 Years        49.2

[476 rows x 3 columns]

### Display the DataFrame attributes

In [10]:
mortality_data.values

array([[1900, '1-4 Years', 1983.8],
       [1901, '1-4 Years', 1695.0],
       [1902, '1-4 Years', 1655.7],
       ...,
       [2016, '15-19 Years', 51.2],
       [2017, '15-19 Years', 51.5],
       [2018, '15-19 Years', 49.2]], dtype=object)

In [11]:
print("Index:  ", mortality_data.index)
print("Columns:", mortality_data.columns)
print("Size:   ", mortality_data.size)
print("Shape:  ", mortality_data.shape)

Index:   RangeIndex(start=0, stop=476, step=1)
Columns: Index(['Year', 'Age Group', 'Death Rate'], dtype='object')
Size:    1428
Shape:   (476, 3)

### Use the columns attribute to change the column names

In [12]:
mortality_data.columns = mortality_data.columns.str.replace(" ", "")

In [13]:
print(mortality_data.columns)

Index(['Year', 'AgeGroup', 'DeathRate'], dtype='object')

In [14]:
mortality_data.head()

   Year   AgeGroup  DeathRate
0  1900  1-4 Years     1983.8
1  1901  1-4 Years     1695.0
2  1902  1-4 Years     1655.7
3  1903  1-4 Years     1542.1
4  1904  1-4 Years     1591.5

### Use the info(), nunique(), and describe() methods

In [15]:
mortality_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       476 non-null    int64
 1   AgeGroup   476 non-null    object
 2   DeathRate  476 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.3+ KB

In [16]:
mortality_data.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       476 non-null    int64
 1   AgeGroup   476 non-null    object
 2   DeathRate  476 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 38.7 KB

In [17]:
mortality_data.nunique()

Year         119
AgeGroup       4
DeathRate    430
dtype: int64

In [18]:
mortality_data.describe()

              Year    DeathRate
count   476.000000   476.000000
mean   1959.000000   192.924160
std      34.387268   293.224216
min    1900.000000    11.400000
25%    1929.000000    40.575000
50%    1959.000000    89.500000
75%    1989.000000   222.575000
max    2018.000000  1983.800000

In [19]:
mortality_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,476.0,1959.00000,34.387268,1900.0,1929.000,1959.0,1989.000,2018.0
DeathRate,476.0,192.92416,293.224216,11.4,40.575,89.5,222.575,1983.8

### Save and restore the cleaned DataFrame

In [20]:
mortality_data.to_pickle('mortality_cleaned.pkl')

In [21]:
mortality_data = pd.read_pickle('mortality_cleaned.pkl')
mortality_data.head()

   Year   AgeGroup  DeathRate
0  1900  1-4 Years     1983.8
1  1901  1-4 Years     1695.0
2  1902  1-4 Years     1655.7
3  1903  1-4 Years     1542.1
4  1904  1-4 Years     1591.5

## Access the data

### How to access columns

In [ ]:
mortality_data.DeathRate.head(2)

In [ ]:
type(mortality_data.DeathRate)

In [ ]:
mortality_data['DeathRate'].head(2)

In [ ]:
type(mortality_data['DeathRate'])

In [ ]:
mortality_data[['Year','DeathRate']].head(2)

In [ ]:
type(mortality_data[['Year','DeathRate']])

### How to access rows

In [ ]:
mortality_data.query('Year==1900')

In [ ]:
mortality_data.query('Year == 2000 and AgeGroup != "1-4 Years"')

In [ ]:
mortality_data.query('Year == 1900 or Year == 2000').head()

In [ ]:
# use backticks if a column name contains spaces
# mortality_data.query('Year == 2000 and `Age Group` != "1-4 Years"')

### How to access a subset of rows and columns

In [ ]:
mortality_data.query('Year == 1900').DeathRate.head()

In [ ]:
mortality_data.query('Year == 1900')['DeathRate'].head()

In [ ]:
mortality_data.query('Year == 1900')[['DeathRate']].head()

In [ ]:
mortality_data.query('Year == 1900')[['AgeGroup','DeathRate']].head()

### How to access rows with the loc[] accessor

In [ ]:
mortality_data.loc[[0,5,10]]

In [ ]:
mortality_data.loc[4:6]

In [ ]:
mortality_data.loc[0:20:5]

In [ ]:
mortality_data.loc[mortality_data.Year == 1917]

### How to access columns with the loc[] accessor

In [ ]:
mortality_data.loc[:, ['Year', 'AgeGroup']]

### How to access a subset of rows and columns with the loc[] accessor

In [ ]:
mortality_data.loc[[0,5,10],['AgeGroup','DeathRate']]

In [ ]:
mortality_data.loc[4:6,'AgeGroup':'DeathRate']

### How to access rows with the iloc[] accessor

In [ ]:
mortality_data.iloc[[0,5,10]]

In [ ]:
mortality_data.iloc[4:6]

In [ ]:
mortality_data.iloc[0:20:5]

### How to access a subset of rows and columns with the iloc[] accessor

In [ ]:
mortality_data.iloc[[0,5,10],[1,2]]

In [ ]:
mortality_data.iloc[4:7,1:3]

In [ ]:
mortality_data.iloc[-10:]

## Prepare the data

### Sort the data

In [ ]:
mortality_data.sort_values('DeathRate', ascending=False).head(3)

In [ ]:
mortality_data.sort_values(['Year','DeathRate']).head(3)

In [ ]:
mortality_data.sort_values(['Year','DeathRate'],
                           ascending=[True,False]).head()

In [ ]:
mortality_data.sort_values(['DeathRate','Year'],
                           ascending=[False,True]).head()

### Apply statistical methods

In [ ]:
mortality_data.DeathRate.mean()

In [ ]:
mortality_data[['AgeGroup','DeathRate']].max()

In [ ]:
mortality_data.count()

In [ ]:
mortality_data.quantile([.1,.9])

In [ ]:
mortality_data['DeathRate'].cumsum()

### Use Python for column arithmetic

In [ ]:
mortality_data['MeanCentered'] = \
    mortality_data.DeathRate - mortality_data.DeathRate.mean()

In [ ]:
mortality_data

In [ ]:
mortality_data['DeathRate'] = mortality_data.DeathRate / 100000

In [ ]:
mortality_data.head()

### Modify the string data in a column

In [ ]:
mortality_data.AgeGroup.replace(
    {'1-4 Years':'01-04 Years','5-9 Years':'05-09 Years'},
    inplace = True)

In [ ]:
mortality_data.AgeGroup.replace(
    to_replace = ['1-4 Years','5-9 Years'],
    value = ['01-04 Years','05-09 Years'],
    inplace = True)

In [ ]:
# mortality_data['AgeGroup'] = mortality_data.AgeGroup.str.replace('1-4 Years','01-04 Years')
# mortality_data['AgeGroup'] = mortality_data.AgeGroup.str.replace('5-9 Years','05-09 Years')

In [ ]:
mortality_data

### Save and restore the prepared DataFrame

In [ ]:
mortality_data.to_pickle('mortality_prepped.pkl')

In [ ]:
mortality_data = pd.read_pickle('mortality_prepped.pkl')
mortality_data.head()

## Shape the data

### Set and use an index

In [ ]:
mortality_data.head(2)

In [ ]:
mortality_data = mortality_data.set_index('Year')
mortality_data.head(2)

In [ ]:
mortality_data.reset_index(inplace=True)

In [ ]:
mortality_data = mortality_data.set_index(
    ['Year','AgeGroup'],verify_integrity=True)
mortality_data.head(2)

In [ ]:
mortality_data.reset_index(inplace=True)

In [ ]:
mortality_data.head(2)

### Pivot the data

In [ ]:
mortality_wide = mortality_data.pivot(
    index="Year",columns="AgeGroup")
mortality_wide.head(3)

In [ ]:
mortality_wide = mortality_data.pivot(
    index="Year",columns="AgeGroup",values="DeathRate")
mortality_wide.head(3)

### Melt the data

In [ ]:
mortality_wide.to_excel('mortality_wide.xlsx')

In [ ]:
mortality_wide = pd.read_excel('mortality_wide.xlsx')
mortality_wide.head(4)

In [ ]:
mortality_long = mortality_wide.melt(
    id_vars = 'Year',
    value_vars=['01-04 Years','05-09 Years'],
    var_name ='AgeGroup',
    value_name='DeathRate')
mortality_long.head(4)
with pd.option_context('display.max_rows', 4):
    display(mortality_long)

### Save and restore the wide DataFrame

In [ ]:
mortality_wide.to_pickle('mortality_wide.pkl')

In [ ]:
mortality_wide = pd.read_pickle('mortality_wide.pkl')
mortality_wide.head()

## Analyze the data

### Group the data

In [ ]:
mortality_data.head()

In [ ]:
mortality_data.groupby('AgeGroup').mean()

In [ ]:
mortality_data.groupby('Year').median().head(4)

In [ ]:
mortality_data.groupby(['Year','AgeGroup']).count().head()

In [ ]:
mortality_data.groupby('AgeGroup')['DeathRate'].describe()

### Aggregate the data

In [ ]:
mortality_data.groupby('AgeGroup').agg(['mean','median'])

In [ ]:
mortality_data.groupby('AgeGroup')['DeathRate'] \
    .agg(['mean','median','std','nunique'])

In [ ]:
mortality_data.groupby('Year')['DeathRate'] \
    .agg(['mean','median','std','min','max','var','nunique'])

## Visualize the data

In [ ]:
mortality_data.pivot(index='Year',columns='AgeGroup')['DeathRate'].plot()

In [ ]:
mortality_data.groupby('AgeGroup')['DeathRate'] \
    .agg(['mean','median','std']).plot.barh()