# Project 7-1: Prepare the ramen data

## The data for this project is in: ramen-ratings.csv

In [1]:
# Import needed modules

# Import pandas and create the alias pd
import pandas as pd

## Tasks

In [2]:
# Create a ramen DataFrame using read_csv from the ramen-ratings.csv
#    and display the first 5 rows.

ramen = pd.read_csv('ramen-ratings.csv')

ramen.head()

,Brand,Variety,Style,Country,Stars
0,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75
1,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1.00
2,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25
3,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75
4,Ching's Secret,Singapore Curry,Pack,India,3.75

In [3]:
ramen.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    2577 non-null   object
 1   Variety  2577 non-null   object
 2   Style    2575 non-null   object
 3   Country  2577 non-null   object
 4   Stars    2577 non-null   float64
dtypes: float64(1), object(4)
memory usage: 715.8 KB

In [ ]:
# Task 2, rename the Stars column to Rating.

ramen.rename(columns = {'Stars':'Rating'}, inplace = True)

In [ ]:
# Task 3, convert the Style column to the category type
ramen.Style = ramen.Style.astype('category')

In [ ]:
# Task 4, drop the Country column
ramen.drop(columns = ['Country'], inplace = True)

In [ ]:
# Task 5, Check that the changes have been applied.

ramen.info(memory_usage = 'deep')

In [ ]:
# Task 6, rename the Brand column to Company and the Variety column to Product
rename_columns_dic = {'Brand':'Company', 'Variety':'Product'}

ramen.rename(columns = rename_columns_dic, inplace = True)

In [ ]:
# Task 7, use the duplicate() method to display all rows with duplicate Company/Product combinations
ramen[ramen.duplicated(subset = ['Company', 'Product'], keep = False)]

In [ ]:
# Task 8, drop all rows with duplicate Company/Product, except for the first row in each set.
#   Then display data to see how many rows have bee droped.

ramen.drop_duplicates(subset = ['Company', 'Product'], inplace = True)
ramen

In [ ]:
# Task 9, drop any rows with missing data

ramen.dropna(inplace = True)

In [ ]:
# Task 10, Check again to see `that the changes have been applied.

ramen.info(memory_usage = 'deep')